<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guyi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_nofont"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BaseActivity" />

        <!-- 登录界面作为主界面，注册界面-->
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/activityAnimation"/>


        <!-- 主页， 购物， 社区 -->

        <activity
            android:launchMode="singleTask"
            android:theme="@style/activityAnimation"
            android:name=".MainActivity"
            android:label="古艺">
        </activity>

        <activity android:name=".WeatherActivity"
            android:theme="@style/activityAnimation"
            />


        <activity
            android:name=".ShoppingActivity"
            android:launchMode="singleTask"
            android:theme="@style/activityAnimation"/>

        <activity
            android:name=".SocialActivity"
            android:launchMode="singleTask"
            android:theme="@style/activityAnimation"/>

        <activity
            android:name=".ProductActivity"
            android:theme="@style/ProductActivityTheme" />


        <!-- 百度地图要用的 -->
        <activity
            android:name=".MapActivity"
            android:theme="@style/ProductActivityTheme" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Zc5qRCGHNEZLbpBaz0wsyuaU499uXZ1p" />

    </application>

</manifest>